@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/footer.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --vermelho-degrade: linear-gradient(97.54deg, #f93821 35.49%,#33312f 165.37%);
    --fonte-principal: "Poppins";
    --fonte-secundario: "Josefin Sans";
    --azul: #002F52;
    --preto: #000000;
    --cinza: #aeafb3;
    --cinza-escuro: #3a3734;
    --cinza-claro: #F5F5F5;
    --brown: #884f34;

}

body {
    background-image: url("./img/hardwoodbg3.png");
    background-size: auto; 
    background-position: center;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;  
}

.containerBackground {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;

}
/*.bubbles span {
    position: background;
    width: 20px;
    height: 20px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 5s linear infinite;
    animation-duration: calc(150s / var(--i));
}
.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}
*/
