.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/MenuA.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    margin-left: 0.5em;
}

.cabeçalho {
    background: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* Header box building start here */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 0.8em;
    padding: 0.3em;    
}

.container {
    display: flex;
    align-items: center;
    opacity: 0.9;
}

.container__imagem {
    padding: 0.6em;
    justify-content: space-between;
    margin-right: 10px;
    text-align: center;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    padding: 0.3em;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--preto);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--preto);
    margin: 0.8em;
    padding: 0.3em;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
    text-decoration: none;
    font-style: bold;
    margin: 0.5em 0;
    padding: 1em;
}

.container__botao {
    display: none;
}

.container__titulo,
.container__titulo-negrito {
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 23px;
    text-transform: uppercase;
    color: var(white); /* Deep wood brown */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background: linear-gradient(45deg, #ffffff, #a79988);
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--branco);
    display: inline-block;
    padding: 10px 20px;
    border: 3px solid #fff;
    border-radius: 8px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    margin-left: 0.2em;
}

/*display: block;
    font-family: var(--fonte-principal);
    color: var(--branco);
    font-weight: 700;
    text-align: center;
    font-size: 23px;
    -webkit-text-stroke: 1px var(--brown);
    -webkit-text-fill-color: beige; /* Will override color (regardless of order) */
  

@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo-negrito {
        display: block;
        font-family: var(--fonte-principal);
        font-size: 30px;
        color: var(--preto);
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }
}
